* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(251, 244, 238, 1);
    font-family: "Inter", "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    color: rgba(32, 59, 44, 1);
}

html, body {
    height: 100%;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

main {
    flex: 1 0 auto; /* Растягивается и заполняет всё пустое пространство */
}

footer {
    flex-shrink: 0; /* Гарантирует, что подвал не сожмется */
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgba(29, 59, 47, 1);
}

