.cart {
    margin-bottom: 115px;
    padding-top: 50px;
}

.cart__title {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    font-weight: 500;
}

.cart__note {
    font-size: 24px;
    color: rgba(102, 102, 102, 1);
    margin: 0 0 20px;
    display: block;
}

.cart__main {
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.cart__wrapper {
    display: flex;
    gap: 27px;
    align-items: flex-end;
    position: relative;
}

.cart__inner {
    display: flex;
    flex-direction: column;
    position: relative;
}

.cart__inner::after {
    content: "";
    height: 2px;
    width: 1060px;
    background-color: rgba(32, 59, 44, 1);
    position: absolute;
    bottom: 0;
}

.cart__inner-title {
    font-size: 34px;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
}

.cart__inner-note {
    font-size: 28px;
    color: rgba(102, 102, 102, 1);
    margin: 0 0 23px;
    display: block;
}

.cart__inner-price {
    font-size: 34px;
    display: block;
    margin-bottom: 10px;
}

.cart__quantity {
    display: flex;
    gap: 23px;
    align-items: center;
    border: 2px solid rgba(32, 59, 44, 1);
    padding: 5px 13px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.cart__quantity-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 34px;
    color: rgba(32, 59, 44, 1);
    font-weight: 400;
}

.cart__quantity-sum {
    font-size: 30px;
}

.last::after {
    content: unset;
}

.cart__total {
    font-size: 34px;
    display: block;
    border: 2px solid rgba(32, 59, 44, 1);
    border-radius: 10px;
    padding: 8px 18px;
    margin-bottom: 20px;
    margin-left: auto;
    width: 250px;
}

.cart__btn {
    background-color: rgba(32, 59, 44, 1);
    border: none;
    border-radius: 10px;
    padding: 16px 23px;
    font-size: 30px;
    color: rgba(223, 222, 217, 1);
    cursor: pointer;
    margin-left: auto;
    text-transform: uppercase;
    display: block;
}